.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.4);
}

.createdAccountAlert {
    position: relative;
    width: 45%;
    height: 45%;
    margin: auto;
    z-index: 5000;
    margin-top: 80px;
    text-align: center;
    background-color: white;
    animation: fadeIn 0.25s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes fadeIn {
    from {
        top: 30px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.alertTitle {
    font-size: 22px;
    font-weight: 100;
    color: #538bd0;
    padding-top: 12px;
    user-select: none;
    user-select: none;
    text-align: center;
    font-family: 'Avenir';
    letter-spacing: 2.5px;
}

.alertDescription {
    position: relative;
    top: 10px;
    font-size: 18px;
    font-weight: 100;
    user-select: none;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Avenir';
    letter-spacing: 2.5px;
    
}

#getStartedButton {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    background: none;
    font-weight: lighter;
    font-family: 'Avenir';
    text-decoration: none;
    background: #5587d2;
    background: linear-gradient(45deg, #5587d2 0%,#eed3ee 79%,#eed3ee 79%,#ffffff 100%);
    background: -moz-linear-gradient(45deg, #5587d2 0%, #eed3ee 79%, #eed3ee 79%, #ffffff 100%);
    background: -webkit-linear-gradient(45deg, #5587d2 0%,#eed3ee 79%,#eed3ee 79%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5587d2', endColorstr='#ffffff',GradientType=1 );
}
#getStartedButton:hover {
    background: #5587d2;
    background: linear-gradient(45deg, #3d68aa 0%,#caa6ca 79%,#c7a5c7 79%,#e4dcdc 100%);
    background: -moz-linear-gradient(45deg, #3d68aa 0%,#caa6ca 79%,#c7a5c7 79%,#e4dcdc 100%);
    background: -webkit-linear-gradient(45deg, #3d68aa 0%,#caa6ca 79%,#c7a5c7 79%,#e4dcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5587d2', endColorstr='#ffffff',GradientType=1 );
}
#getStartedButton:active {
    background: #5587d2;
    background: linear-gradient(45deg, #2e558f 0%,#aa85aa 79%,#a885a8 79%,#cfc4c4 100%);
    background: -moz-linear-gradient(45deg, #2e558f 0%,#aa85aa 79%,#a885a8 79%,#cfc4c4 100%);
    background: -webkit-linear-gradient(45deg, #2e558f 0%,#aa85aa 79%,#a885a8 79%,#cfc4c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5587d2', endColorstr='#ffffff',GradientType=1 );
}