.findReplaceAlert {
    position: absolute;
    left: 15px;
    height: 280px;
    width: 270px;
    bottom: 50px;
    margin: auto;
    z-index: 1;
    text-align: center;
    background-color: white;
    transition-duration: 0.3s;
    animation: fadeIn 0.25s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes fadeIn {
    from {
        bottom: 0px;
        opacity: 0;
    }
    to {
        bottom: 50px;
        opacity: 1;
    }
}
#findReplaceHolder {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    height: calc(100% - 50px);
}

.alertTitle {
    font-size: 18px;
    font-weight: 100;
    color: #538bd0;
    padding-top: 12px;
    user-select: none;
    user-select: none;
    text-align: center;
    font-family: 'Avenir';
    letter-spacing: 2.5px;
}

#findField {
    position: relative;
    top: 20px;
    width: 90%;
    height: 20px;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    background: none;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition-duration: 0.2s;
    border-bottom: 1px solid black;
}
#findField::-webkit-input-placeholder {
    color: gray;
}
#replaceField {
    position: relative;
    top: 60px;
    width: 90%;
    height: 20px;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    background: none;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition-duration: 0.2s;
    border-bottom: 1px solid black;
}
#replaceField::-webkit-input-placeholder {
    color: gray;
}

#closeFindReplaceButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 100;
    color: #5587d2;
    background: none;
    text-decoration: none;
}
#closeFindReplaceButton:hover {
    color: #3d68aa;
}
#closeFindReplaceButton:active {
    color: #2e558f;
}


#previousButton {
    left: 0px;
    right: 0px;
    width: 50%;
    bottom: 40px;
}
#nextButton {
    left: 50%;
    right: 0px;
    width: 50%;
    bottom: 40px;
}
#replaceButton {
    left: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
}
#replaceAllButton {
    left: 50%;
    right: 0px;
    width: 50%;
    bottom: 0px;
}
#nextButton, #replaceButton, #replaceAllButton, #previousButton {
    position: absolute;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    background: none;
    font-weight: lighter;
    font-family: 'Avenir';
    text-decoration: none;
    background: #5587d2;
    background: linear-gradient(45deg, #5587d2 0%,#eed3ee 79%,#eed3ee 79%,#ffffff 100%);
    background: -moz-linear-gradient(45deg, #5587d2 0%, #eed3ee 79%, #eed3ee 79%, #ffffff 100%);
    background: -webkit-linear-gradient(45deg, #5587d2 0%,#eed3ee 79%,#eed3ee 79%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5587d2', endColorstr='#ffffff',GradientType=1 );
}
#nextButton:hover, #replaceButton:hover, #replaceAllButton:hover, #previousButton:hover {
    background: #5587d2;
    background: linear-gradient(45deg, #3d68aa 0%,#caa6ca 79%,#c7a5c7 79%,#e4dcdc 100%);
    background: -moz-linear-gradient(45deg, #3d68aa 0%,#caa6ca 79%,#c7a5c7 79%,#e4dcdc 100%);
    background: -webkit-linear-gradient(45deg, #3d68aa 0%,#caa6ca 79%,#c7a5c7 79%,#e4dcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5587d2', endColorstr='#ffffff',GradientType=1 );
}
#nextButton:active, #replaceButton:active, #replaceAllButton:active, #previousButton:active {
    background: #5587d2;
    background: linear-gradient(45deg, #2e558f 0%,#aa85aa 79%,#a885a8 79%,#cfc4c4 100%);
    background: -moz-linear-gradient(45deg, #2e558f 0%,#aa85aa 79%,#a885a8 79%,#cfc4c4 100%);
    background: -webkit-linear-gradient(45deg, #2e558f 0%,#aa85aa 79%,#a885a8 79%,#cfc4c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5587d2', endColorstr='#ffffff',GradientType=1 );
}