#appSettingsPage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#settingsTitle {
    font-size: 20;
    font-weight: 200;
    cursor: default;
    user-select: none;
    font-family: 'Avenir';
}

#closeSettingsButton {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 15px;
    height: 15px;
    color: gray;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    font-family: 'Avenir';
}

.categoryTitle {
    font-size: 18;
    font-weight: 100;
    cursor: default;
    user-select: none;
    font-family: 'Avenir';
    display: inline-block;
}

select {
    font-size: 25;
    font-weight: 300;
    font-family: 'Avenir';
    border: none;
    outline: none;
    background: none;
    cursor: default;
    user-select: none;
    display: inline-block;
    text-decoration: none;
}

.settingsButton {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 32;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Avenir';
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #888888;
}

.settingsButton:active {
    box-shadow: 1px 1px 1px #888888;
}

#saveSettingsButton {
    color: green;
    background-color: lightgreen;
}
#saveSettingsButton:hover {
    color: rgb(16, 47, 21);
    background-color: forestgreen;
}