.codeSegmentArea {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
	font-family: monospace;
	/* Background color is purposely not set here. */
}