@app-color: #5587d2;
@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@desktop-down-2: ~'(max-width: 960px)';
@tablet-down: ~'(max-width: 700px)';
@phone-down: ~'(max-width: 480px)';
@small-phone-down: ~'(max-width: 320px)';
.noteworthy-button {
    border: none;
    padding: 12px;
    outline: none;
    color: white;
    cursor: pointer;
    background: none;
    font-size: 0.95rem;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition-duration: 0.2s;
}

* {
    -webkit-overflow-scrolling: touch;
}

html, body {
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: white;
}

.title-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    z-index: 10000;
    user-select: none;
    -webkit-app-region: drag;
    transition-duration: 0.25s;
    background-color: rgba(0, 0, 0, 0);
    transition-timing-function: ease-out;
}

.underline-field {
    width: 80vw;
    border: none;
    outline: none;
    display: block;
    font-weight: 100;
    background: none;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: 'Avenir';
    text-decoration: none;
}
.underline-field::placeholder {
    color: white;
}

.pill-button {
    border: none;
    outline: none;
    display: block;
    padding: 15px;
    cursor: pointer;
    background: none;
    font-size: 1.2rem;
    padding-top: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-radius: 10rem;
    text-decoration: none;
    background-color: white;
    transition-duration: 0.2s;

    &:hover {
        transform: scale(1.15);
    }
    &:active {
        transform: scale(0.95);
    }
}

.rect-btn {
    .noteworthy-button();
    background-color: #5587d2;

    @media @wide-screen-down {
        padding: 25px;
        font-size: 2rem;
        margin-bottom: 30px;
    }
    @media @desktop-down-2 {
        padding: 12px;
        font-size: 0.95rem;
        margin-bottom: 10px;

        &:hover {
            background-color: #3c67a8;
        }
        &:active {
            background-color: #274c83;
        }
    }
}
.hollow-btn {
    .noteworthy-button();
    color: gray;
    background-color: white;
    border: 1.5px solid lightgray;

    @media @wide-screen-down {
        padding: 25px;
        font-size: 2rem;
        padding-left: 45px;
        padding-right: 45px;
        margin-bottom: 30px;
    }
    @media @desktop-down-2 {
        padding: 12px;
        font-size: 0.95rem;
        margin-bottom: 10px;

        &:hover {
            background-color: rgb(238, 238, 238);
        }
        &:active {
            background-color: rgb(163, 163, 163)e;
        }
    }
}


@keyframes action-alert-fade-in {
    from {
        opacity: 0;
        bottom: -10px;
    }
    to {
        opacity: 1;
        bottom: 10px;
    }
}
.action-alert {
    position: fixed;
    left: 50%;
    z-index: 102;
    bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    padding-top: 10px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-family: 'Avenir';
    background-color: gray;
    transform: translateX(-50%);
    animation: action-alert-fade-in 0.3s ease-out;

    @media @desktop-down {
        font-size: 2.7rem;
    }
    @media @desktop-down-2 {
        font-size: 1rem;
    }
    @media @tablet-down {
        font-size: 2.5rem;
    }
    @media @phone-down {
        font-size: 1.5rem;
    }
}

.tippy-tooltip {
    color: white;
    border-radius: 0px;
    font-family: Avenir;
    background-color: rgb(68, 131, 199);

    @media @desktop-down {
        display: none;
    }
    @media @desktop-down-2 {
        display: block;
    }
}
.tippy-tooltip[x-placement^='top'] .tippy-arrow {
    border-top-color: rgb(68, 131, 199);;
}
.tippy-tooltip[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: rgb(68, 131, 199);;
}