@primary: #707070;

.common-font {
    font-family: Roboto;
    line-height: normal;
    letter-spacing: 0.8px;
}

.select-notebook-btn {
    position: relative;
    margin: 5px;
    border: none;
    padding: 8px;
    outline: none;
    color: white;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    transition-duration: 0.15s;
    background-color: rgb(181, 202, 241);

    &:hover {
        background-color: cornflowerblue;
    }
}