

// Buttons:
pill-button > *:nth-child(1) {
    padding: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
    cursor: pointer;
    background: none;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
}