@import './index.less';

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
.popup-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 101;
    background-color: rgba(0,0,0,0.4);
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    z-index: 3;
    max-height: 60%;
    overflow-y: auto;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    transform: translate(-50%, -50%);
    animation: fade-in 0.2s ease-out;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.3);

    @media @wide-screen-down {
        width: 80%;
    }
    @media @desktop-down-2 {
        width: 80%;
    }
}

.close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    background: none;
    font-size: 1.2rem;
    color: lightgray;
    font-family: Avenir;
    text-decoration: none;

    &:hover {
        color: gray;
    }
    &:active {
        color: rgb(88, 88, 88);
    }

    @media @wide-screen-down {
        font-size: 3rem;
    }
    @media @desktop-down-2 {
        font-size: 1.2rem;
    }
}

.popup-title {
    font-weight: 500;
    color: #5587d2;
    font-size: 1.6rem;
    user-select: none;
    font-family: Avenir;

    @media @wide-screen-down {
        font-size: 3.5rem;
    }
    @media @desktop-down-2 {
        font-size: 1.6rem;
    }
}
.popup-subtitle {
    font-weight: 300;
    color: #5587d2;
    font-size: 1.2rem;
    user-select: none;
    font-family: Avenir;

    @media @wide-screen-down {
        font-size: 2.5rem;
    }
    @media @desktop-down-2 {
        font-size: 1.2rem;
    }
}
#create-name-field {
    width: 80%;
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #5587d2;

    @media @wide-screen-down {
        font-size: 2.8rem;
    }
    @media @desktop-down-2 {
        font-size: 1.4rem;
    }
}
#receiver-email-field, #sender-email-field, #sender-password-field {
    width: 80%;
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #5587d2;
}

.popup-btn {
    border: none;
    padding: 10px;
    outline: none;
    color: white;
    cursor: pointer;
    background: none;
    font-size: 0.8rem;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #5587d2;

    @media @wide-screen-down {
        padding: 25px;
        font-size: 2rem;
        margin-bottom: 30px;
    }
    @media @desktop-down-2 {
        padding: 10px;
        font-size: 0.8rem;
        margin-bottom: 10px;

        &:hover {
            background-color: #3c67a8;
        }
        &:active {
            background-color: #274c83;
        }
    }
    
}

.notebooks-view {
    overflow-y: hidden;
    margin-bottom: 50px;
}
.notebook-cell {
    position: relative;
    padding: 20px;
    cursor: default;
    text-align: left;
    color: #5587d2;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.2s;

    h2 {
        position: relative;
        bottom: 0px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0px;
        font-family: Avenir;

        @media @wide-screen-down {
            font-size: 3rem;
        }
        @media @desktop-down-2 {
            font-size: 1.2rem;
        }
    }
    h4 {
        position: relative;
        bottom: 0px;
        margin-top: 15px;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: Avenir;

        @media @wide-screen-down {
            font-size: 1.6rem;
        }
        @media @desktop-down-2 {
            font-size: 1.2rem;
        }
    }
    h5 {
        position: relative;
        font-size: 1.1rem;
        font-weight: 400;
        font-family: Avenir;
        /* margin-bottom: 30px; */
    }

    .popup-btn {
        margin-right: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.move-popup {
    h1 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .move-view {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;

        .popup-btn {
            margin: 10px;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

.delete-popup {
    padding-bottom: 30px;
    
    h4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .popup-btn {
        margin: 10px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.cell-separator {
    position: absolute;
    left: 10px;
    width: 100%;
    height: 0.5px;
    padding: 0px;
    bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: white;
}

#account-alert-email {
    @media @wide-screen-down {
        font-size: 2.5rem;
    }
    @media @desktop-down-2 {
        font-size: 1.2rem;
    }
}