#sidebar {
    position: fixed;
    top: 0px;
    right: -200px;
    width: 200px;
    height: 100%;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    -webkit-app-region: drag;
    background-color: rgb(144, 94, 201);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

#sidebarTitle {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    font-family: 'Avenir';
    user-select: none;
    color: rgba(0, 0, 0, 0.4);
}

.sidebarItem {
<<<<<<< HEAD
    width: 100%;
    cursor: pointer;
    text-align: center;
    position: relative;
=======
    position: relative;
    top: 30px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: -18px;
>>>>>>> e9bb07169874ef63236bc77d59dae95c3c26c2a6
    -webkit-app-region: no-drag;
    background-color: rgba(0, 0, 0, 0.2);
}
.sidebarItem:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.sidebarItemTitle {
<<<<<<< HEAD
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
    overflow: hidden;
    line-height: 50px;
    user-select: none;
    margin-top: -15px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Avenir'; 
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.6);
=======
    font-size: 18px;
    font-weight: 200px;
    line-height: 50px;
    font-family: 'Avenir';
    user-select: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

#textColorPicker {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100px;
    visibility: hidden;
>>>>>>> e9bb07169874ef63236bc77d59dae95c3c26c2a6
}