#signupPage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
}

.signUpHeader {
    font-size: 20;
    font-weight: 200;
    font-family: 'Avenir';
}

.accountField {
    width: 50%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18;
    font-weight: 100;
    background: none;
    font-family: 'Avenir';
}

hr {
    width: 50%;
}

#createAccountButton {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: forestgreen;
    border-radius: 25px;
    text-decoration: none;
    background-color: lightgreen;
    box-shadow: 2px 2px 2px #888888;
}
#createAccountButton:hover {
    background-color: mediumseagreen;
}
#createAccountButton:active {
    box-shadow: 1px 1px 1px #888888;
}