@import './index.less';

work-page {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 30px;
    display: block;
    .common-font();
    padding-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 80px;

    // The title view
    #title-field {
        outline: none;
        font-size: 22px;
        color: #515151;
        overflow-y: scroll;
        font-weight: bolder;
        padding-bottom: 30px;
        font-family: Helvetica;
    }

    // The note view
    #note-field {
        outline: none;
        font-size: 16px;
        color: #9B9B9B;
        line-height: 1.5;
        font-weight: 300;
        font-family: Helvetica;
    }
}