<div id='optionsSlider'>
    <div class='optionsItem' id='sidebar_Color'><p class='optionsItemTitle'>Color</p></div>
    <div class='optionsItem' id='sidebar_Font'><p class='optionsItemTitle'>Font</p></div>
    <div class='optionsItem' id='sidebar_Alignment'><p class='optionsItemTitle'>Alignment</p></div>
    <div class='optionsItem' id='sidebar_Bold'><p class='optionsItemTitle'>Bold</p></div>
    <div class='optionsItem' id='sidebar_Underline'><p class='optionsItemTitle'>Underline</p></div>
    <div class='optionsItem' id='sidebar_Italic'><p class='optionsItemTitle'>Italic</p></div>
    <div class='optionsItem' id='sidebar_Highlighter'><p class='optionsItemTitle'>Highlighter</p></div>
    <div class='optionsItem' id='sidebar_BulletedList'><p class='optionsItemTitle'>Bulleted List</p></div>
    <div class='optionsItem' id='sidebar_NumberedList'><p class='optionsItemTitle'>Numbered List</p></div>
</div>