<div id='sidebar'>
    <h1 id='sidebarTitle'>Options</h1>
    <div class='sidebarItem' id='sidebar_Color'><p class='sidebarItemTitle'>Color</p></div>
    <div class='sidebarItem' id='sidebar_Font'><p class='sidebarItemTitle'>Font</p></div>
    <div class='sidebarItem' id='sidebar_Alignment'><p class='sidebarItemTitle'>Alignment</p></div>
    <div class='sidebarItem' id='sidebar_Bold'><p class='sidebarItemTitle'>Bold</p></div>
    <div class='sidebarItem' id='sidebar_Underline'><p class='sidebarItemTitle'>Underline</p></div>
    <div class='sidebarItem' id='sidebar_Italic'><p class='sidebarItemTitle'>Italic</p></div>
    <div class='sidebarItem' id='sidebar_Highlighter'><p class='sidebarItemTitle'>Highlighter</p></div>
    <div class='sidebarItem' id='sidebar_BulletedList'><p class='sidebarItemTitle'>Bulleted List</p></div>
    <div class='sidebarItem' id='sidebar_NumberedList'><p class='sidebarItemTitle'>Numbered List</p></div>
</div>