<div id='sidebar'>
    <h1 id='sidebarTitle'>Options</h1>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Color</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Font</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Alignment</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Bold</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Underline</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Italic</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Highlighter</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Bulleted List</p></div>
    <div class='sidebarItem'><p class='sidebarItemTitle'>Numbered List</p></div>
</div>