#sidebar {
    position: fixed;
    top: 0px;
    right: -200px;
    width: 200px;
    height: 100%;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    -webkit-app-region: drag;
    background-color: rgb(144, 94, 201);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

#sidebarTitle {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    font-family: 'Avenir';
    user-select: none;
    color: rgba(0, 0, 0, 0.4);
}

.sidebarItem {
    width: 100%;
    cursor: pointer;
    text-align: center;
    position: relative;
    -webkit-app-region: no-drag;
    background-color: rgba(0, 0, 0, 0.1);
}
.sidebarItem:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.sidebarItemTitle {
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    line-height: 50px;
    user-select: none;
    margin-top: -15px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Avenir'; 
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.7);
}